:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --color1: #f5cb5cff;
    --color2: #f1faeeff;
    --color3: #3e92ccff;
    --color4: #2a628fff;
    --color4-highlight: rgb(31, 70, 102);
    --color5: #16324fff;

}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--color4);
}
body::-webkit-scrollbar-thumb {
    background: var(--color5);
}

body {
    margin: 0;
    padding: 0;
    color: var(--color2);
    background-color: var(--color3);
}
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2rem auto;
}

.title {
    width: 100%;   
    background-color: var(--color5);
}
.title .material-icons, .title span {
    text-align: left;    
    font-size: 1.5rem;
    color: var(--color1);
    vertical-align: middle;
}
.title .material-icons {
    padding-left: 10px; 
    padding-bottom: 0.2rem;
}

.menu-container {
    background-color: var(--color5);
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;  
    align-items: center;  
}
.menu-item {
    width: 80%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80%;
}
.menu-item:hover{
    background-color: var(--color4-highlight);
}